p {
  margin: ($half-space / 2) 0;
  letter-spacing: .03em;
  line-height: 1.65;
  cursor: text;
}

a, a:visited {
  color: $mid-gray;
}

h1 {
  font-weight: 700;
  font-size: 1.75em;
  cursor: text;
}

h2, h3 {
  font-size: 1.15em;
}

h3 {
  line-height: 2;
}

h2, h3, h4, h5 {
  font-weight: 400;
  cursor: text;
}

.content {
  color: $mid-gray;

  h2 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $bd-green;
    margin: $half-space 0 ($half-space / 2) 0;
  }

  h2 + p {
    margin-top: 0;
  }

}