header {
  @include span(full);
  background: $black;
  padding-top: $half-space / 2;
  border-radius: 2px 2px 0 0;
  position: relative;
  color: $almost-white;
  letter-spacing: .025em;

  @include breakpoint($bp-mobile) {
    font-size: 85%;
  }

  .inner {
    @include clearfix;
  }
}

.hero {
  background-image: url('../img/pttrn.svg');
  background-size: 200px 200px;
  background-repeat: repeat;
  margin-top: $half-space / 2;
  text-align: center;
  padding: $full-space 0;
  border-bottom: 2px solid $black;
}

.hero-content {
  display: inline-block;
  color: $black;
  border: 3px solid $black;
  border-radius: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  position: relative;

  h2 {
    letter-spacing: .065em;
  }
}

.hero-inner {
  background: $bd-pale;
  position: relative;
  z-index: 2;
  padding: ($half-space / 2) $half-space;

  @include breakpoint($bp-desktop) {
    padding: ($half-space / 2) $full-space;
  }
}

.flower {
  position: absolute;
  z-index: 1;

  img {
    width: 16px;
    height: 16px;
  }

  &:nth-of-type(1) {
    left: -8px;
    top: -14px;
  }

  &:nth-of-type(2) {
    right: -8px;
    top: -14px;
  }

  &:nth-of-type(3) {
    left: -8px;
    bottom: -10px;
  }

  &:nth-of-type(4) {
    right: -8px;
    bottom: -10px;
  }
}

.hero-flower {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -8px;
}

.bd-logo {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -70px;

  @include breakpoint($bp-desktop) {
    top: -30px;
    width: 140px;
    height: 140px;
    margin-left: -70px;
  }
}

.header-left {
  @include span(first 6 of 12);
}

.header-right {
  @include span(last 6 of 12);
  text-align: right;
}

.header-left,
.header-right {
  @include breakpoint($bp-mobile) {
    @include span(full);
    text-align: center;
  }
}