  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
  <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
  <title>{{ .Site.Title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">