<header>

  <div class="inner">

    <div class="header-left">
      <h4>{{ with .Site.Params.name }}{{ . }}{{ end }}</h4>
      <h4>{{ with .Site.Params.creds }}{{ . }}{{ end }}</h4>
    </div>

    <img src="./img/bd-logo.svg" alt="Centered Space, LLC" class="bd-logo">

    <div class="header-right">
      <h4>{{ with .Site.Params.email }}{{ . }}{{ end }}</h4>
      <h4>{{ with .Site.Params.phone }}{{ . }}{{ end }}</h4>
    </div>

  </div>

  <section class="hero">
    
    <div class="hero-content">
      <span class="flower"><img src="./img/flower.svg"></span>
      <span class="flower"><img src="./img/flower.svg"></span>

      <div class="hero-inner">
        <h1>{{ with .Site.Params.company }}{{ . }}{{ end }}</h1>
        <h2>{{ with .Site.Params.tagline }}{{ . }}{{ end }}</h2>
      </div>

      <span class="flower"><img src="./img/flower.svg"></span>
      <span class="flower"><img src="./img/flower.svg"></span>
    </div>

  </section>

  <img class="hero-flower" src="./img/flower-yellow.svg">
  
</header>