// color //
$bd-pale: #D4D4CB;
$root-background-color: $bd-pale;

$bd-green: #80A189;

$white: #FFF;
$black: #444;

// type //
$the-fam: 'Montserrat', sans-serif;
$root-font-family: $the-fam;

// size //
$full-space: 80px;
$half-space: $full-space / 2;